* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input:focus, textarea:focus, select:focus, button:focus, video:focus {
    outline: none;
}

/* Chrome Custom Scroll Bars */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #666; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444; 
}